#popup {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#cart-icon {
    position: fixed;
    top:  10px;
    right: 10px;
    background-color: #ff3647;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}