{% extends 'base.html.twig' %}

{% block title %}Caisses Separées{% endblock %}

{% block stylesheets %}
	<style>
		th,
		tfoot {
			font-size: 15px !important;
			text-align: center !important;
			font-weight: bold !important;
			background-color: #F1F1F1 !important;
		}

		.infoTable {
			text-align: center !important;
			vertical-align: middle !important;
		}

		tr:hover {
			background-color: rgba(62, 128, 235, 0.2) !important;
			color: #3e80eb !important;
		}

        td {
			font-size: 12px !important;
			text-align: center !important;
		}
	</style>
{% endblock %}

{% block body %}
<!-- App-Content -->
<div class="hor-content main-content">
    <div class="container">
        
        {% include "includes/_caissesSeparees.html.twig" %}

    </div>
{% endblock %}
