 

        <!-- Row -->
        <div class="row" style="margin-top: 40px;">
            <div class="col-md-12 col-lg-12">
                <div class="card border-primary">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-9">
                                <a href="javascript:void(0);" target="_blank" class="btn btn-outline-primary"><i class="si si-book-open me-2"></i> {% trans %}Manuel d'utilisation{% endtrans %}</a>
                            </div>
                            <div class="col-md-3">
                                <a href="javascript:void(0);" class="btn btn-outline-danger"><i class="si si-calendar me-2"></i> {% trans %}Il vous reste {% endtrans %} {{ nombreDeJoursRestants }} {% trans %}jours d'utilisation{% endtrans %}</a>
                         
                            </div>
                        </div>
                        <div class="text-primary">
                            <div class="display-1 mb-5 font-weight-bold error-text" style="font-size: 60px; text-align:center;">{% trans %}Bienvenue{% endtrans %} <br>
                            {{app.user.nom}} <br>
                            {{app.user.typeUtilisateur.typeUtilisateur}}
                            </div>
                        </div>
                                
                    </div>
                </div>
            </div>
        </div>
        <!--End Row -->
</div>