<!--Page header-->
            <div class="page-header">
                <div class="page-leftheader">
                    <h4 class="page-title mb-0 text-primary"><i class="fa fa-file-pdf-o me-2"></i> {% trans %}Fiches de vente{% endtrans %}</h4>
                </div>
                <div class="page-rightheader">
                    <div class="btn-list">
                        <a href="{{ path ('afficher_produit') }}"  class="btn btn-outline-primary btn-pill" >
                            <i class="fa fa-square me-2 fs-14"></i> {% trans %}Les Produits{% endtrans %}
                        </a>
                        <a href="{{ path ('liste_facture') }}"  class="btn btn-outline-primary btn-pill" >
                            <i class="fa fa-file-text me-2 fs-14"></i> {% trans %}Les Factures{% endtrans %}
                        </a>
                        
                    </div>
                </div>
            </div>
            <!--End Page header-->

            <!-- Row -->
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="card border-primary">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fe fe-printer me-2"></i> {% trans %}Impression des fiches de vente{% endtrans %}</h3>
                        </div>
                        <div class="card-body">
                            <div class="row mt-4">
                                <div class="col-lg-6">
                                    <div class="expanel expanel-primary border-primary">
                                        <div class="expanel-heading">
                                            <h3 class="expanel-title">{% trans %}Fiche de vente du jour{% endtrans %}</h3>
                                        </div>
                                        <div class="expanel-body text-center">
                                        <a href="{{ path ('impression_fiche_de_vente') }}" class="btn btn-outline-primary" target="_blank"><i class="si si-printer me-2"></i>{% trans %}Imprimer{% endtrans %}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="expanel expanel-secondary border-secondary">
                                        <div class="expanel-heading">
                                            <h3 class="expanel-title">{% trans %}Fiche de vente d'une période donnée{% endtrans %}</h3>
                                        </div>
                                        <div class="expanel-body text-center">
                                            <form method="post" action="{{ path ('impression_fiche_de_vente') }}" class="row g-3 needs-validation" novalidate target="_blank">
                                                <div class="col-md-4 position-relative">
                                                <input type="date" name="dateDebut" class="form-control" id="validationCustom01" required>
                                                <div class="invalid-feedback">
                                                    {% trans %}Champ requis{% endtrans %}
                                                </div>
                                                </div>
                                                <div class="col-md-4 position-relative">
                                                <input type="date" name="dateFin" class="form-control" id="validationCustom01" required>
                                                <div class="invalid-feedback">
                                                    {% trans %}Champ requis{% endtrans %}
                                                </div>
                                                </div>
                                                <div class="col-md-4">
                                                <button class="btn btn-outline-primary" type="submit" name="impressionFicheVente"><i class="si si-printer me-2"></i>{% trans %}Imprimer{% endtrans %}</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Row -->