 

        <!-- Row -->
        <div class="row" style="margin-top: 40px;">
            <div class="col-md-12 col-lg-12">
                <div class="card border-primary">
                    <div class="card-body">
                        
                        <div class="text-danger">
                            <div class="display-1 mb-5 font-weight-bold error-text" style="font-size: 60px; text-align:center;">{% trans %}VOTRE LICENCE A EXPIREE{% endtrans %} <br>
                            
                            </div>
                        </div>
                                
                    </div>
                </div>
            </div>
        </div>
        <!--End Row -->
</div>