{% extends 'base.html.twig' %}

{% block title %}{% trans %}Impression{% endtrans %} {% endblock %}

{% block body %}
    <div class="hor-content main-content">
        <div class="container">

            {% if is_granted('ROLE_CAISSIERE') %}
                {% include "includes/_impressionCaissiere.html.twig" %}
            {% endif %}

            {% if is_granted('ROLE_SECRETAIRE') or is_granted('ROLE_PHARMACIEN') or is_granted('ROLE_ADMINISTRATEUR') or is_granted('ROLE_DIRECTEUR') %}
                {% include "includes/_impressionSecretaire.html.twig" %}
            {% endif %}

        </div>
    </div><!-- right app-content-->
</div>

{% endblock %}
